/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
    Extra Resetting
*/

* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(#6F86D6, #48C6EF);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    line-height: 1.75;
    /*overflow: auto;*/
    width: 100vw;
}

#root {
    height: 100%;
}

/*profile page*/

.user-card {
    position: relative !important;
    
    height: 350px;
    margin: 20px 1%;
    padding-left: 30px;
    display: flex !important;
    /* justify-content: center; */
    
}



.flex-container {
    /* width: 80% !important; */
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
}

.flex-container p {
    padding-top: 10px !important;
}
.flex-container h1 {
    width: 90%;
}

.user-name {
    font-size: 40px;
    width: 100%;
}

.grav {
    border-radius: 50% !important;
    position: absolute !important;
    left: 60% !important;
    bottom: 40px !important;
    max-height: 100px !important;
    max-width: 100px !important;
    /* height: 100px;
    width: 100px; */
}

.share {
    height: 50px !important;
    margin-top: 50px !important;

}



/* .share p {
    margin-top: 40px;
} */



/* home page */

.page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.list-container {
    width: 100%;
  }

  .react-gravatar {
    border-radius: 50px;
  }
  
  .single-item {
    width: 100%;
    list-style: none;
  }

  .header-logo {
    height: 50px;
    width: 50px;
    margin-left: 15%;
    margin-top: 40px;
  }

  /*search field*/
  .field {
      margin-bottom: 20px;
      margin-right: 150px;
      width: 200px !important;
      position: absolute !important;
      left: 70px !important;
      bottom: 0px !important;
     
      /* text-decoration: underline; */
      /* margin-left: 20px; */
      
      
  }

  .login-button {
      background: black;
      margin-bottom: 10px;
      
  }
  .profile-button{
      margin: 0 10px 10px 100px;
      /* margin-bottom: 10px;
      margin-left: 100px;
      margin-right: 10px; */
     
  }

.main-tool {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    height: 120px !important;
    position: relative;
    
}

.button-container {
    min-width: 300px;
}

@media only screen and (min-width: 450px){
    .user-name {
        width: 100% !important;
    }
    .share p {
    margin-top: 40px;
}

.share {
    margin-top: 80px !important;

    
}
}
  
  
  @media only screen and (min-width: 600px){

    .header-logo {
        height: 40px;
        width: 40px;
        margin-bottom: 25px;
    }

    .main-tool {
        flex-direction: row;
        height: 80px !important;
    }

    .field {
        position: static;
        margin-right: 0;
        margin-left: 20px;
        min-width: 250px;
        
    }
  
   .single-item {
     width: 48%;
     margin: 1%;
   }

   .button-container{
       min-width: 300px;
       /* max-width: 300px; */
       /* padding-right: 10px; */
   }

   .login-button {
       margin: 0 8px 0 0;
       /* margin-left: 0px;
       margin-bottom: 0;
       margin-right: 8px; */
       margin-top: 0 !important;
       
   }

   .profile-button{
       margin-bottom: 0;
       margin-top: 0;
       margin-left: 80px;
   }
    
  }
  
  @media only screen and (min-width: 900px){
    .single-item {
      width: 30.33%;
      margin: 1.5%;
    }
    .button-container {
        min-width: 150px;
    }
    .login-button {
        margin-right: 0;
    }

    .user-card {
        margin: 50px 10%;
        height: 250px;
        flex-direction: row !important;
    }
    .user-name {
        width: 100% !important;
    }
    .grav {
        max-width: 200px !important;
        max-height: 200px !important;
        bottom: 25px !important;
        left: 70% !important;
    }

    .flex-container {
        margin-top: 20px;
        
    }

    .container {
        display: flex !important;
    }

    .share {
        margin-left: 40px;
        margin-top: 40px !important;
    }
    .share p {
        margin-top: 0 !important;
    }
    
   
  }